<%# new: 新規作成かどうか表す boolean. %>
<% new ||= false %>
<%= simple_form_for @purchase, html: { class: 'form-horizontal' } do |f| %>
  <%= f.input :bought_at, label: Purchase.human_attribute_name('bought_at'),
  discard_hour: true, discard_minute: true,
  # 範囲を 1970年から来年までに指定.
  start_year: 1970, end_year: Date.today.year + 1 %>
  <%= f.association :category, label: Category.model_name.human, collection: Category.where(user: current_user) %>
  <%= f.input :name, label: Purchase.human_attribute_name('name') %>
  <%= f.input :price, as: :string,
  label: Purchase.human_attribute_name('price') << "(#{t('number.currency.format.unit')})" %>
  <div class='form-group form-actions'>
    <div class="control-group col-sm-offset-3 col-sm-9">
      <%= f.button :submit, class: 'btn-primary' %>
    </div>
  </div>
<% end %>
