<h1><%= t('title') %></h1>
<%= link_to(new_purchase_path) do %>
<span><%= t('.action.new') %></span>
<% end %>
<table border="1">
<tr>
<th><%= t('activerecord.attributes.purchase.bought_at', default: 'Date') %></th>
<th><%= t('activerecord.attributes.purchase.name') %></th>
<th><%= t('activerecord.attributes.purchase.price') %></th>
<th></th>
<th></th>
</tr>
<% @purchases.each do |purchase| %>
<tr>
<th><%= l(purchase.bought_at.to_date, format: :long) %></th>
<th><%= purchase.name %></th>
<th><%= number_to_currency(purchase.price) %></th>
<th>
<%= link_to(edit_purchase_path(purchase)) do %>
<span><%= t('.action.edit') %></span>
<% end %>
</th>
<th>
<%= link_to(purchase, method: :delete, data: { confirm: '削除しますか?' }) do %>
<span><%= t('.action.delete') %></span>
<% end %>
</th>
</tr>
<% end %>
</table>
