<div class="container-fluid">
  <div class="row">
    <div class="col-md-12">
      <h2><%= Category.model_name.human %></h2>
      <div class='text-right'>
        <%= link_to(new_category_path) do %>
        <span class="btn btn-primary mb-2"><%= t('.new_category') %></span>
        <% end %>
      </div>
      <table class="table table-striped table-hover table-condensed">
        <thead>
          <tr>
            <th><%= Category.human_attribute_name('name') %></th>
            <th></th>
            <th></th>
          </tr>
        </thead>
        <tbody>
          <% @categories.each do |category| %>
            <tr>
            <th><%= category.name %></th>
            <th>
              <%= link_to(edit_category_path(category)) do %>
              <span class="btn btn-sm btn-success"><%= t('.action.edit') %></span>
              <% end %>
            </th>
            <th>
              <%= link_to(category, method: :delete, data: { confirm: '削除しますか?' }) do %>
              <span class="btn btn-sm btn-danger"><%= t('.action.delete') %></span>
              <% end %>
            </th>
          </tr>
          <% end %>
        </tbody>
      </table>
    </div>
  </div>
</div>
