<nav class='navbar navbar-expand-sm navbar-dark bg-success navbar-fixed-top'>
  <div class="container-fluid">
    <a class='navbar-brand' href='<%= root_path %>'><%= t('title') %></a>
    <button type="button" class="navbar-toggler ml-auto" data-toggle="collapse" data-target="#navbarNav"
    aria-controls="navbarNav" aria-expanded="false" aria-label="ナビゲーションの切替">
      <span class="navbar-toggler-icon"></span>
    </button>
    <%# navbar の左側. %>
    <div class='collapse navbar-collapse' id='navbarNav'>
      <ul class='navbar-nav mr-auto'>
        <li class='nav-item'>
          <%= link_to(Purchase.model_name.human, purchases_path, class: 'nav-link') %>
        </li>
        <li class='nav-item'>
          <%= link_to(Category.model_name.human, categories_path, class: 'nav-link') %>
        </li>
      </ul>
      <ul class='navbar-nav'>
        <% if user_signed_in? %>
          <li class='nav-item'>
            <%= link_to(current_user.name, edit_user_registration_path, class: 'post nav-link') %>
          </li>
          <li class='nav-item'>
            <%= link_to(t('.devise.sign_out'), destroy_user_session_path, method: :delete, class: 'nav-link') %>
          </li>
        <% else %>
          <li class='nav-item'>
            <%= link_to(t('.devise.sign_in'), new_user_session_path, class: 'post nav-link') %>
          </li>
          <li class='nav-item'>
            <%= link_to(t('.devise.sign_up'), new_user_registration_path, class: 'post nav-link') %>
          </li>
        <% end %>
      </ul>
    </div>
  </div>
</nav>
